In [49]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.window import Window

In [3]:
# Create SparkSession
spark = (SparkSession.builder
           .appName('Exemplo-calendar')
           .config("packages", "org.apache.spark:mysql-connector-java-8.0.13.jar")
           .getOrCreate()
        )

Warning: Ignoring non-Spark config property: packages
24/06/08 19:05:15 WARN Utils: Your hostname, cj resolves to a loopback address: 127.0.1.1; using 192.168.15.34 instead (on interface enp2s0)
24/06/08 19:05:15 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/08 19:05:15 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [71]:
refDF = spark.createDataFrame([(1,)], ['id', ])

windowSpec = Window.orderBy("data")

tempoDF = (refDF
    # .withColumn('data', F.explode(F.expr("sequence(to_date('2024-06-01'), to_date('2024-06-10'), interval 1 day)")))
    .withColumn('data', F.explode(F.expr("sequence(to_date('2010-01-01'), to_date('2030-12-31'), interval 1 day)")))
    .withColumn('dia', F.day(F.col('data')))
    .withColumn('mes', F.month(F.col('data')))
    .withColumn('ano', F.year(F.col('data')))
    .withColumn('dia_semana', F.weekday(F.col('data')))  # 0 - 6 => segunda - domingo
    .withColumn('trimestre', F.quarter(F.col('data')))
    .withColumn("chave_tempo", F.row_number().over(windowSpec))
    .drop('id')
)
tempoDF.toPandas()
# tempoDF.printSchema()

24/06/08 20:23:11 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/06/08 20:23:11 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/06/08 20:23:11 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/06/08 20:23:12 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/06/08 20:23:12 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

            data  dia  mes   ano  dia_semana  trimestre  chave_tempo
0     2010-01-01    1    1  2010           4          1            1
1     2010-01-02    2    1  2010           5          1            2
2     2010-01-03    3    1  2010           6          1            3
3     2010-01-04    4    1  2010           0          1            4
4     2010-01-05    5    1  2010           1          1            5
...          ...  ...  ...   ...         ...        ...          ...
7665  2030-12-27   27   12  2030           4          4         7666
7666  2030-12-28   28   12  2030           5          4         7667
7667  2030-12-29   29   12  2030           6          4         7668
7668  2030-12-30   30   12  2030           0          4         7669
7669  2030-12-31   31   12  2030           1          4         7670

[7670 rows x 7 columns]